<p id="notice"><%= notice %></p>

<h1>Chamados</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Prioridade</th>
      <th>Usuario</th>
      <th>Atendente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chamados.each do |chamado| %>
      <tr>
        <td><%= chamado.descricao %></td>
        <td><%= chamado.prioridade %></td>
        <td><%= chamado.usuario %></td>
        <td><%= chamado.atendente %></td>
        <td><%= link_to 'Show', chamado %></td>
        <td><%= link_to 'Edit', edit_chamado_path(chamado) %></td>
        <td><%= link_to 'Destroy', chamado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chamado', new_chamado_path %>
