<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @usuario.rua %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @usuario.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @usuario.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @usuario.cep %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @usuario.pais %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @usuario.empresa %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
