<p id="notice"><%= notice %></p>

<h1>Atendentes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Setor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atendentes.each do |atendente| %>
      <tr>
        <td><%= atendente.nome %></td>
        <td><%= atendente.setor %></td>
        <td><%= link_to 'Show', atendente %></td>
        <td><%= link_to 'Edit', edit_atendente_path(atendente) %></td>
        <td><%= link_to 'Destroy', atendente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atendente', new_atendente_path %>
