<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @atendente.nome %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @atendente.setor %>
</p>

<%= link_to 'Edit', edit_atendente_path(@atendente) %> |
<%= link_to 'Back', atendentes_path %>
