<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @empresa.nome %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @empresa.rua %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @empresa.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @empresa.estado %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @empresa.pais %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @empresa.cep %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @empresa.cnpj %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
